<ul><li><a href='/pages/about'>关于我们</a></li>
<li><a href='/pages/news'>企业动态</a></li>
<li><a href='/pages/ensure'>招商加盟</a></li>
<li><a href='/pages/product'>产品介绍</a></li>
<li><a href='/pages/contact'>联系我们</a></li>
<li><a href='/pages/comment'>雁过留声</a></li>
</ul>