<style type="text/css">
.about-middle{ margin-left:25px;overflow:hidden; float:left; width:870px;}
.ableft{ float:left; width:79px;}
.titable{ border-bottom:1px solid #60331F; position:relative; height:30px;}
.titable h3{ color:#60331F; font-weight:bold; font-size:26px;}
.index{ position:absolute; right:4px; top:5px; display:block;}
.aboutpic{ float: left; margin-top:10px; overflow:hidden;}
.aboutpic p{ float:left;}
.aboutzi{ margin-left:10px; width:300px; line-height:22px;}
.fenlei{ float:right; margin-left:10px; width:210px;}
.fenlei li{ background:#8FD0E2; height:25px; line-height:25px; font-size:14px; color:#fff; margin:4px 0; text-indent:4px;}
.titab{ margin-top:15px;}
.neilist{ line-height:22px;}
.neilist a{ text-decoration:none; color:#333;}
.neilist a:hover{ text-decoration:underline;}
</style>

<div class="content">
<div class="ct1">
<div class="ct2">
<!--star-->
    <%= render :partial => 'layouts/slider' %>
<!--end-->
<div class="cont" style="margin-top:20px; overflow:hidden; height:auto;">
    <div class="ableft"><img src="/assets/leftico.jpg" /></div>
    <div class="about-middle">
        <div class="titable"><h3>成都博康</h3><span class="index"><a href="/">首页</a> > 成都博康</span></div>
        <div class="aboutpic">
          <table><tr><td>
            <p style="width:332px;"><img src="/assets/picno1.jpg" /></p>
            </td><td>
            <p class="aboutzi">
                <%= @page.body.html_safe %>
            </p>
            </td></tr></table>
        </div>
            <div class="fenlei">
                <ul>
                <li>关于成都博康</li>
                <li>企业荣誉</li>
                <li>领导致辞</li>
                </ul>
                <h3 class="titab">相关内容</h3>
                <dl class="neilist">
                <% NewsItem.recent(4, 4, false).each do |item| %>
                  <dt><%= link_to ">> #{item.title.truncate(16)}", news_item_path(item) %></dt>
                <% end %>
                </dl>
            </div>
       
    </div>
</div>
</div>
</div>
</div>
