<style type="text/css">

.cont{ background:url(<%=asset_path("bgindex.jpg")%>) no-repeat; height:724px; width:984px;}
.title{ font-size:28px; font-weight:bold; color:#F54835; margin-left:200px; margin-top:20px;}
.title22{ position:absolute; right:15px; top:20px; color:#fff;}
.title22 a{ text-decoration:none; color:#fff;}
.title22 a:hover{ text-decoration:underline;}
.map{ position:absolute; top:216px; left:386px;}
.map p{ margin-top:14px;}
.textnn{ height:38px; line-height:41px; padding:4px; width:247px;background:url(<%=asset_path("textbg.jpg")%>); border:none;}
.textnn2{ width:247px;background:url(<%=asset_path("textbg2.jpg")%>); border:none; width:255px; height:96px; padding-left:4px; padding-top:4px; resize:none}

</style>


<div class="content">
<div class="ct1">
<div class="ct2">
<div class="cont" style="overflow:hidden; position:relative;">
<div class="title">雁过留声</div>
<span class="title22"><a href="#" title="首页">首页</a>>雁过留声</span>
<div class="map">
<p><input type="text"  class="textnn" value="name" /></p>
<p><input type="text"  class="textnn"  value="......"/></p>
<p><textarea class="textnn2"></textarea></p>
<p align="right"><input type="image" src="/assets/subit.jpg" /></p>
</div></div>


 </div>
</div>
</div>