<style type="text/css">
.cont{ background:url(<%=asset_path 'telbg.jpg'%>) no-repeat; height:724px; width:974px;}
.title{ font-size:28px; font-weight:bold; color:#F54835; margin-left:200px; margin-top:20px;}
.title22{ position:absolute; right:15px; top:20px; color:#fff;}
.title22 a{ text-decoration:none; color:#fff;}
.title22 a:hover{ text-decoration:underline;}
.map{ position:absolute; top:220px; left:380px;}
.map h3{ font-size:26px;color:#F54835;}
.map p{ font-size:18px; line-height:36px; color:#623335; margin-top:30px;}

</style>


<div class="content">
<div class="ct1">
<div class="ct2">
<div class="cont" style="overflow:hidden; position:relative;">
<div class="title">联系我们</div>
<span class="title22"><a href="#" title="首页">首页</a>>联系我们</span>
<div class="map"><h3>成都博康生物药业有限公司</h3>
<p>地    址：成都市成华区万兴街8号附40号<br />
服务热线：4006-818-278<br />
网    址：www.cdbokang.com</p>
</div></div>


 </div>
</div>
</div>