<style type="text/css">
.about-middle{ margin-left:25px;overflow:hidden; float:left; width:870px;}
.ableft{ float:left; width:79px;}
.titable{ border-bottom:1px solid #60331F; position:relative; height:30px;}
.titable h3{ color:#60331F; font-weight:bold; font-size:26px;}
.index{ position:absolute; right:4px; top:5px; display:block;}
.aboutpic{ margin-top:10px; overflow:hidden; float:left; margin-left:15px;}
.aboutpic li a,.list1 li a{ text-decoration:none; color:#60331F;}
.aboutpic li a:hover,.list1 li a:hover{ text-decoration:underline; color:#60331F;}
.aboutpic li{ margin:8px 0;}
.aboutpic2{ float:left; margin-left:30px;margin-top:10px;  width:37px;}
.newslist{ float:left; margin-left:15px; margin-top:10px; background:url(/assets/jsbg.jpg) no-repeat; height:318px; padding:8px 8px 0 6px; line-height:22px; width:261px;}
.list1{ border:1px solid #ccc; margin-bottom:15px;}
.list1 h3{ background:url(/assets/titlbg.jpg) repeat-x;display:block; line-height:25px; height:25px; border-bottom:1px solid #ccc; padding-left:6px;}
.listwz{ padding-left:4px;}
.listwz li{ line-height:22px; border-bottom:1px dotted #e9e9e9;}
.textn{ height:24px; height:24px; float:left;}
label{ float:left; width:60px; text-align:right;}
.aboutpic li{ overflow:hidden; clear:both;}
.aboutpic li span{ display:block; float:left; margin-left:8px;}
.textnn{ width:300px; height:80px;}
</style>



<div class="content">
<div class="ct1">
<div class="ct2">
<!--star-->
<div class="container" id="idTransformView"> 
<ul class="slider" id="idSlider"> 
<li><img src="/assets/banner.jpg"/></li> 
<li><img src="/assets/banner2.jpg"/></li> 
<li><img src="/assets/banner3.jpg"/></li> 
<li><img src="/assets/banner4.jpg"/></li> 
</ul> 
<ul class="num" id="idNum"> 
<li>1</li> 
<li>2</li> 
<li>3</li> 
<li>4</li> 
</ul> 
</div>
<!--end-->
<div class="cont" style="margin-top:20px; overflow:hidden; height:auto;">
<div class="ableft"><img src="/assets/leftico.jpg" /></div>
<div class="about-middle">
<div class="titable"><h3>招商加盟</h3>
<span class="index"><a href="/">首页</a> > 招商加盟</span>
</div>
<div class="aboutpic">
<ul>
<li><label>姓 名:</label><input class="textn" type="text" /><span>你的真实姓名，请使用中文</span></li>
<li><label>E-mail:</label><input class="textn" type="text" /><span>请正确填写电子邮箱，以便给你发送相关信息</span></li>
<li><label>单 位:</label><input  class="textn"type="text" /><span>地址是与你联系的重要方式,以保证资料邮寄</span></li>
<li><label>地 址:</label><input class="textn" type="text" /><span>地址是与你联系的重要方式,以保证资料邮寄</span></li>
<li><label>电 话:</label><input class="textn" type="text" /><span>电话是与你联系的重要方式,请正确填写</span></li>
<li><label>传 真:</label><input  class="textn"type="text" /></li>
<li><label>内 容：</label><textarea class="textnn">填写内容</textarea></li>
</ul>
<ul style="margin-left:80px;">
<li><input type="button" value="提交" /><input type="button" value="重写" /></li>
</ul>
</div>
<div class="aboutpic2">
<img src="/assets/jianm.jpg" /></div>

<div class="newslist">
申请加盟之前建议您对我公司就加盟经营
的具体要求予以考虑：<br />
　　1、加盟金：这是加入我司特许经营、
使用商标、产权和享受广告宣传的一次性
费用。<br />
　　2、履约保证金：合同正常结束时返还。<br />
　　3、首批进货额保证：保证品牌的基本
形象和基本铺货数量。 <br />
　　4、全年最低进货额保证：根据不同类
别城市而异。 <br />
　　6、进货：统一进货价(含增值税)，无退换。 <br />
　　7、提货与付款：自行提货，先付款后提货。 
</div>
</div>

</div>


 </div>
</div>
</div>