<style type="text/css">

.about-middle{ margin-left:25px;overflow:hidden; float:left; width:870px;}
.ableft{ float:left; width:79px;}
.titable{ border-bottom:1px solid #60331F; position:relative; height:30px;}
.titable h3{ color:#60331F; font-weight:bold; font-size:26px;}
.index{ position:absolute; right:4px; top:5px; display:block;}
.aboutpic{ margin-top:10px; overflow:hidden;}
.aboutpic p{ float:left;}
.aboutzi{ margin-left:10px; width:500px; line-height:22px; float:left;}
.aboutzi li{ line-height:26px; background:url(<%= asset_path("ico.jpg")%>) no-repeat; padding-left:18px; border-bottom:1px dotted #ddd;}
.aboutzi li a{ text-decoration:none; color:#666;}
.aboutzi li a:hover{ text-decoration:underline;}
.fenlei{ float:left; margin-left:15px; width:220px;}
.fenlei li{ background:#8FD0E2; height:25px; line-height:25px; font-size:14px; color:#fff; margin:4px 0; text-indent:4px;}
.titab{ margin-top:15px;}
.neilist{ line-height:22px;}
.neilist a{ text-decoration:none; color:#333;}
.neilist a:hover{ text-decoration:underline;}
</style>


<div class="content">
<div class="ct1">
<div class="ct2">
<!--star-->
    <%= render :partial => 'layouts/slider' %>
<!--end-->
<div class="cont" style="margin-top:20px; overflow:hidden; height:auto;">
<div class="ableft"><img src="/assets/leftico.jpg" /></div>
<div class="about-middle">
<div class="titable"><h3>公司动态</h3>
<span class="index"><a href="/">首页</a> > 公司动态</span>
</div>
<div class="aboutpic">
<p style="width:332px; float:left;"><img src="/assets/picno1.jpg" /></p>
<div class="aboutzi">
<h3 style="margin-bottom:10px;"><img src="/assets/bar_red01.png" /></h3>
<ul>
<% NewsItem.recent(8, 1, false).each do |item| %>
  <li><%= link_to item.title.truncate(30), news_item_path(item) %></li>
<% end %>

</ul>
</div>

</div>
</div>

</div>


 </div>
</div>
</div>
