<div class="container" id="idTransformView"> 
  <img src="/assets/banner.jpg"/> 
  <img src="/assets/banner2.jpg"/> 
  <img src="/assets/banner3.jpg"/> 
  <img src="/assets/banner4.jpg"/> 
</div>