<div class="container" id="idTransformView"> 
<ul class="slider" id="idSlider"> 
<li><img src="/assets/banner.jpg"/></li> 
<li><img src="/assets/banner2.jpg"/></li> 
<li><img src="/assets/banner.jpg"/></li> 
<li><img src="/assets/banner2.jpg"/></li> 
</ul> 
<ul class="num" id="idNum"> 
<li>1</li> 
<li>2</li> 
<li>3</li> 
<li>4</li> 
</ul> 
</div>